html {
    background: #3a4750;
}

body {
    background: #3a4750;
    font-family: Impact;
    display: block;
    text-align: center;
    color: white;
}

header {
    background: white;
    margin-bottom: 15px;
}

h1 {
    font-size: 3em;
    color: #be3144;
    background: white;
}

.row {
    margin: 0;
}

.game { 
    display: inline-block;
    margin-bottom: 25px;
    border: solid white 3px;

}

.scoreboard {
    display: inline-block;
    border: solid white 3px;
    margin-bottom: 25px;
    min-height: 250px;
}

#reset-scores {
    margin-bottom: 25px;
}

#timer {
    color: white;
    margin-top: 0;
    font-size: 2em;
}

#word {
    font-size: 3em;
}

#message {
    color: green;
    font-size: 3em;
}

#wins {
    size: 1.5em;
    color: white;
}

#losses {
    size: 1.5em;
    color: white;
}